---
# Only the main Sass file needs front matter (the dashes are enough)
---

@use "sass:color";

@charset "utf-8";

//// Fonts
// look at /fonts/SSP/source-sans-pro to font setup to be pasted here

//**************************************************
// Variables
$base-font-family: 'Source Sans 3', sans-serif;//'Source Sans Pro', sans-serif;'Abel', sans-serif;
$base-font-weight: 400;
$base-bold-font-weight: 700;
$base-font-size: 15px;
$small-font-size: $base-font-size * 0.875;
$medium-font-size: $base-font-size * 1.25;
$large-font-size: $base-font-size * 2;
$larger-font-size: $base-font-size * 2.5;
$base-line-height: 1.5;

$site-title-font-family: 'Source Sans 3', sans-serif;//'IBM Plex Sans', sans-serif;//'Alegreya Sans SC', sans-serif;
$site-title-font-weight: 500;

$header-height: 50px;
$header-font-family: 'Source Sans 3', sans-serif;//'IBM Plex Sans', sans-serif;//'Alegreya Sans SC', sans-serif;
$header-page-font-weight: 900;
$header-current-page-font-weight: 900;

$default-title-font-weight: 900;
$page-title-font-weight: 900;


$footer-font-size: $base-font-size*.9;

$spacing-unit: $base-font-size * 0.6666666666;

$background-color: #f5f5f5;
$header-background-color: adjust-color($background-color, $lightness: -15%);
$text-color: adjust-color($background-color, $lightness: -75%);
$link-color: #5cadff;

$grey-color: adjust-color($background-color, $lightness: -45%);//#828282;
$grey-color-light: adjust-color($grey-color, $lightness: 40%);
$grey-color-dark: adjust-color($grey-color, $lightness: -25%);

// Width of the content area
$content-width: 800px;
$mobile: '(min-width: 320px) and (max-width: 450px)';//767px)';


//// Using media queries with like this:
//@include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and #{$device} {
        @content;
    }
}


//// SASS @import is being deprecated, moved files here and deleted ../_sass/
//// Import partials from `sass_dir` (defaults to `_sass`)
//@import
//        "base",
//        "layout"
////        "syntax-highlighting"
//;


//**************************************************
// BASE (from ../_sass/_base.scss)
//**************************************************
// Reset some basic elements
body, h1, h2, h3, hs {
    margin: 0;
    padding: 0;
}


//**************************************************
// Basic styling
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    font-weight: $base-font-weight;
    line-height: $base-line-height;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}

b {
    font-weight: $base-bold-font-weight;
}


//**************************************************
// Set `margin-bottom to maintain vertical rhythm
h1, h2, h3, hs {
    margin-bottom: $spacing-unit * 2;
}
p {
    margin: 0;
    margin-bottom: $spacing-unit;
}


//**************************************************
// Headings
h1 {
    font-size: $large-font-size;
}
h2 {
    font-size: $medium-font-size;
}

h3 {
    font-size: $base-font-size;
    font-weight: $base-bold-font-weight;
    margin-bottom: $spacing-unit;
}
hs {
  font-size: $small-font-size;
}


//**************************************************
// Links
a {
    color: $link-color;
    text-decoration: none;

    &:visited {
        color: adjust-color($link-color, $lightness: -15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}


//**************************************************
// Wrapper
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;
}


//**************************************************
// Clearfix: needed for wrapper
%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}


//**************************************************
// Hiding text
// https://berther.io/2009/01/15/hiding-an-email-address-from-spam-harvesters
span.rev {
    unicode-bidi: bidi-override;
    direction: rtl;
}

// To position the line go-to
// For smaller widths
a.anchor {
  display: block;
  position: relative;
  top: - $spacing-unit * 12;
  visibility: hidden;
}
// For larger widths -- maybe 492px?
@media (min-width:508px) {
  a.anchor {
    display: block;
    position: relative;
    top: - $spacing-unit * 7;
    visibility: hidden;
  }
}


//**********************************************
// LAYOUT (from ../_sass/_layout.scss)
//**********************************************
// Site header
.header-cont {
  height: $spacing-unit * 5;
  width: 100%;
  position: fixed;
  z-index: 1;// So that it shows above the MathJax
  top: 0px;
}
.site-header {
  background-color: $header-background-color;
  width: 100%;
  max-width: $content-width;
  min-width: $content-width * .25;
  margin: 0px auto;
}

.site-title {
    font-family: $site-title-font-family;
    font-size: $larger-font-size;
    font-weight: $site-title-font-weight;
    line-height: $header-height;
    //letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: $header-height;

    .page-link {
        font-family: $header-font-family;
        font-size: $medium-font-size;
        font-weight: $header-page-font-weight;
        font-variant: small-caps;
        color: adjust-color($text-color, $lightness: 40%);
        //letter-spacing: -1px;

        line-height: $header-height;

        // Gaps between nav items, but not on the first one
//        &:not(:first-child) {
            margin-left: $spacing-unit * 2;
//        }
    }

    .current-page-link {
        font-family: $header-font-family;
        font-size: $medium-font-size;
        font-weight: $header-current-page-font-weight;
        font-variant: small-caps;
        color: $text-color;
        //letter-spacing: -1px;

        line-height: $header-height;

        // Gaps between nav items, but not on the first one
//        &:not(:first-child) {
            margin-left: $spacing-unit * 2;
//        }
    }
}


//**************************************************
// Site footer
.site-footer {
//    padding: $spacing-unit;
}

.footer-heading {
    font-size: $base-font-size;
    margin-bottom: calc($spacing-unit / 2);
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: $footer-font-size;
    color: $grey-color;
    border-top: 1.5px solid $header-background-color;
    padding-top: $spacing-unit;
    padding-bottom: $spacing-unit;
//    margin-left: -$spacing-unit / 2;
    @extend %clearfix;

    text-align: center;
}

.footer-col {
    float: left;
    margin-bottom: calc($spacing-unit / 2);
    padding-left: calc($spacing-unit / 2);
}

.footer-icon {
    > svg {
        display: inline-block;
        width: $footer-font-size;
        height: $footer-font-size;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}


//**************************************************
// Default layout
.default-main-page {
    margin-top: 50px;
    margin-bottom: $spacing-unit;

    @include media-query ($mobile) {
      margin-top: 120px;
    }
}

.default-title {
    font-family: $header-font-family;
    font-size: $large-font-size;
    font-weight: $default-title-font-weight;
    font-variant: small-caps;
    //letter-spacing: -1px;
    line-height: 1;
}

.default-content {
    text-align: justify;
    margin: calc((#{$spacing-unit} * 5) + (#{$spacing-unit} * 2)) auto;
}


//**************************************************
// Page layout
.page-header {
    margin-top: 50px;
    margin-bottom: $spacing-unit;

    @include media-query ($mobile) {
      margin-top: 120px;
    }
}

.page-title {
    font-family: $header-font-family;
    font-size: $large-font-size;
    font-weight: $page-title-font-weight;
    font-variant: small-caps;
    //letter-spacing: -1px;
    line-height: 1;
}

.page-content {
    margin-bottom: $spacing-unit * 2;
}
