---
layout: default
---

{% assign entries_praxis_math = site.entries | where: 'page', 'praxis' | where: 'type', 'math' | sort: 'endyear' | reverse %}

<div class="default-main-page">

  <h1 class="default-title">Recently:</h1>

  <h2>Mathematics</h2>

  <p>
    Attending courses at Uni Wien and TU Wien.<br>
    Gave the following talks recently:<br>
    <ul style="padding:0;padding-left:3ex;margin-top:-1ex;list-style-type:'⤳  ';">
      {% assign cnt = 0 %}
      {% for entry in entries_praxis_math %}
        {% if cnt <= 2 %}
          {% if entry.path contains 'talk_' %}
            <li>
              at {{ entry.loc }} titled <a href="/praxis/#{{ entry.anchor }}"><i>{{ entry.title }}</i></a> ({{ entry.dates }}){% if cnt == 2 %}.{% else %},{% endif %}
            </li>
          {% endif %}
          {% assign cnt = cnt | plus: 1 %}
        {% endif %}
      {% endfor %}
    </ul>
    <table style="width:100%;">
      <tr>
        <td style="width:50%">
          <center>
            <img src="/files/symplectic-camel.png" style="width:90%;">
            <p style="font-size:10px;line-height:150%;">
              Figure 1.3, McDuff-Salamon, <i>Introduction to Symplectic Topology</i> (3rd Edition)
            </p>
          </center>
        </td>
        <td style="width:50%">
          <center>
            <img src="/files/higher-homotopy.png" style="width:90%;">
            <p style="font-size:10px;line-height:150%;">
              <i>Action of fundamental group on the higher homotopy groups. I.</i>, Fomenko<br>
              from Fomenko-Fuchs, <i>Homotopical Topology</i> (2nd Edition)
            </p>
          </center>
        </td>
      </tr>
    </table>
  </p>

  <br>

  <h2>Arts</h2>

  <p>
    <a href="/portfolio/#Angewandte_Festival_2021">Participated</a> in the Angewandte Festival 2021 (29.6.21 – 2.7.21).
    <div style="width:50%;"><a href="/praxis/#Angewandte_Festival_2021"><img src="/art/Wien/Angewandte/Festival21/object1_.gif" style="width:100%"></a></div>
  </p>
  <p>
    <a href="/portfolio/#Naivete">Installed</a> a piece in the <a href="https://www.wuk.at/kunstzelle/">Kunstzelle</a> at the <a href="https://www.wuk.at/michael-robert-jimenez-naivete/">WUK Vienna</a> (12.5.21 – 13.6.21).
    <div style="width:50%;"><a href="/portfolio#Naivete"><img src="/art/exhibitions/2021/Naivete/thumbs/inside-side.gif" style="width:100%"></a></div>
  </p>

</div>
