---
layout: page
title: Praxis
permalink: /praxis/
sortname: praxis
---

{% assign entries_math_loc_grpd = site.entries | where: 'page', 'praxis' | where: 'type', 'math' | group_by: 'loc' | sort: 'name' | reverse %}
{% assign entries_math_loc_endyear_endmonth_sort = '' | split: '' %}
{% for loc in entries_math_loc_grpd %}
  {% assign entries_math_loc_endyear_grpd = loc.items | group_by: 'endyear' | sort: 'name' | reverse %}
  {% for year in entries_math_loc_endyear_grpd %}
    {% assign entries_math_loc_endyear_endmonth_sort_tmp = year.items | sort: 'endmonth' | reverse %}
    {% for entry in entries_math_loc_endyear_endmonth_sort_tmp %}
      {% if entry.loc != nil %}
        {% if entry.endyear != nil %}
          {% assign entries_math_loc_endyear_endmonth_sort = entries_math_loc_endyear_endmonth_sort | push: entry %}
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endfor %}

{% assign entries_math_startyear_sort = site.entries | where: 'page', 'praxis' | where: 'type', 'math' | sort: 'startyear' %}
{% assign entries_math_ongoing = '' | split: '' %}
{% for entry in entries_math_startyear_sort %}
  {% if entry.endyear == nil %}
    {% assign entries_math_ongoing = entries_math_ongoing | push: entry %}
  {% endif %}
{% endfor %}

{% assign entries_math = entries_math_ongoing | concat: entries_math_loc_endyear_endmonth_sort %}


{% assign entry_art_photography = site.entries | where: 'page', 'praxis' | where: 'type', 'art' | where: 'title', 'Photography' | first %}
{% assign entries_art_Angewandte = site.entries | where: 'page', 'praxis' | where: 'type', 'art' | where: 'loc', 'Angewandte' | sort: 'endyear' | reverse %}

{% assign entries_art_Vienna = site.entries | where: 'page', 'praxis' | where: 'type', 'art' | where: 'loc', 'Vienna' %}
{% assign entries_art_TUWien = site.entries | where: 'page', 'praxis' | where: 'type', 'art' | where: 'loc', 'TU Wien' %}
{% assign entries_art_Bonn = site.entries | where: 'page', 'praxis' | where: 'type', 'art' | where: 'loc', 'Bonn' %}
{% assign entries_art_Princeton = site.entries | where: 'page', 'praxis' | where: 'type', 'art' | where: 'loc', 'Princeton' %}
{% assign entries_art_cities = entries_art_Vienna | concat: entries_art_TUWien | concat: entries_art_Bonn | concat: entries_art_Princeton %}

<ol style="padding:0;list-style-type:none;">
  <li><h1halff><a href="./#Math">Mathematics</a></h1halff>
    <h2f><ol style="list-style-type:none;margin-left:-1em;">
      {% for entry in entries_math_ongoing %}
        <li><a href="./#{{ entry.anchor }}">{{ entry.title }}</a></li>
      {% endfor %}
      {% for loc in entries_math_loc_grpd %}
        {% if loc != nil %}
          {% assign entries_math_loc_endyear_grpd = loc.items | group_by: 'endyear' | sort: 'name' | reverse %}
          <li>{{ loc.name }}
            <ol style="list-style-type:none;margin-left:-1em;">
              {% for year in entries_math_loc_endyear_grpd %}
                {% assign entries_math_loc_endyear_endmonth_sort = year.items | sort: 'endmonth' | reverse %}
                {% for entry in entries_math_loc_endyear_endmonth_sort %}
                    {% if entry.endyear != nil %}
                      <li><a href="./#{{ entry.anchor }}">{% if entry.path contains 'talk_' %}Talk: <i>{{ entry.title }}</i>{% else %}{{ entry.title }}{% endif %}</a></li>
                    {% endif %}
                {% endfor %}
              {% endfor %}
            </ol>
          </li>
        {% endif %}
      {% endfor %}
    </ol></h2f>
  </li>
  <li><h1halff><a href="./#Art">Art</a></h1halff>
    <h2f><ol style="list-style-type:none;margin-left:-1em;">
      <li><a href="./#{{ entry_art_photography.anchor }}">{{ entry_art_photography.title }}</a></li>
      <li>Vienna
        <ol style="list-style-type:none;margin-left:-1em;">
          <li><a href="./#Angewandte">Angewandte (Transdisciplinary Arts)</a>
            <ol style="list-style-type:none;margin-left:-1em;">
              {% for entry in entries_art_Angewandte %}
                <li><a href="./#{{ entry.anchor }}">{{ entry.title }}</a></li>
              {% endfor %}
            </ol>
          </li>
          {% for entry in entries_art_Vienna %}
            <li><a href="./#{{ entry.anchor }}">{{ entry.title }}</a></li>
          {% endfor %}
          <li>TU Wien
            <ol style="list-style-type:none;margin-left:-1em;">
              <li>
                {% assign cnt = 0 %}
                {% for entry in entries_art_TUWien %}
                  {% if cnt == 1 %} | {% endif %}<a href="./#{{ entry.anchor }}">{{ entry.title }}</a>{% assign cnt = cnt | plus: 1 %}
                {% endfor %}
                {% assign cnt = 0 %}
              </li>
            </ol>
          </li>
        </ol>
      </li>
      <li>Bonn
        <ol style="list-style-type:none;margin-left:-1em;">
          <li>
            {% assign cnt = 0 %}
            {% for entry in entries_art_Bonn %}
              {% if cnt == 1 %} | {% endif %}<a href="./#{{ entry.anchor }}">{{ entry.title }}</a>{% assign cnt = cnt | plus: 1 %}
            {% endfor %}
            {% assign cnt = 0 %}
          </li>
        </ol>
      </li>
      <li>Princeton
        <ol style="list-style-type:none;margin-left:-1em;">
          <li>
            {% assign cnt = 0 %}
            {% for entry in entries_art_Princeton %}
              {% if cnt == 1 %} | {% endif %}<a href="./#{{ entry.anchor }}">{{ entry.title }}</a>{% assign cnt = cnt | plus: 1 %}
            {% endfor %}
            {% assign cnt = 0 %}
          </li>
        </ol>
      </li>
    </ol></h2f>
  </li>
</ol>

<hr>

<h1half><a class="anchor" id="Math"></a>Mathematics <sup><a href="./#" style="font-size: 0.75em;"><sc>top</sc></a></sup></h1half>

{% for entry in entries_math %}
  <h2><a class="anchor" id="{{ entry.anchor }}"></a>{% if entry.path contains 'talk_' %}Talk: <i>{{ entry.title }}</i>{% else %}{{ entry.title }}{% endif %}{% if entry.extralink != nil %} [<a href="{{ entry.extralink }}">PDF</a>]{% endif %} <sup><a href="./#" style="font-size: 0.75em;"><sc>top</sc></a></sup></h2>
  {{ entry.content }}
  <br>
{% endfor %}

<hr>

<h1half><a class="anchor" id="Art"></a>Art <sup><a href="./#" style="font-size: 0.75em;"><sc>top</sc></a></sup></h1half>
<p>
  More-current ponderings are on <a href="https://www.instagram.com/mchl_rj/">my Instagram</a>.
</p>

<h2><a class="anchor" id="{{ entry_art_photography.anchor }}"></a>{{ entry_art_photography.title }} <sup><a href="./#" style="font-size: 0.75em;"><sc>top</sc></a></sup></h2>
{{ entry_art_photography.content }}
<br>

<h2><a class="anchor" id="Angewandte"></a>Angewandte, Transdisciplinary Arts <sup><a href="./#" style="font-size: 0.75em;"><sc>top</sc></a></sup></h2>
<p>
  In October 2020, I started a Masters in the Transdisciplinary Arts (<a href="https://www.transarts.at/">TransArts</a>) Class at the University of Applied Arts (Angewandte) in Vienna.<br>
  {% for entry in entries_art_Angewandte %}
    <p>
      <a class="anchor" id="{{ entry.anchor }}"></a><b>{{ entry.title }}</b> ({{ entry.dates }})<br>
      {{ entry.content }}
    </p>
  {% endfor %}
</p>
<br>

{% for entry in entries_art_cities %}
  <h2><a class="anchor" id="{{ entry.anchor }}"></a>{{ entry.title }} in {{ entry.loc }} <sup><a href="./#" style="font-size: 0.75em;"><sc>top</sc></a></sup></h2>
  {{ entry.content }}
{% endfor %}
