---
title: 'Intraspatial Studies'
page: portfolio
type: art
anchor: Intraspatial-Studies
startyear: 2024
endyear: 2024
endmonth: 12
range:
loc: 'part of the exhibiton of a TransArts workshop led by Angelika Loderer'
dates: '17. – 18.12.24'
press: 'https://www.dieangewandte.at/aktuell/ausstellungen/ausstellungen_detail?artikel_id=1733888534787'
extralink:
published: true
---

<i>steel, plaster, wood</i>
<p>
  Sculptural studies of bodies filling space, of interface, of relationship.<br>
  {% assign studies = '' | split: '' %}
  {% for entry in site.entries %}
    {% if entry.title contains 'Angewandte Festival 2021' %}
      {% assign studies = studies | push: entry %}
    {% endif %}
    {% if entry.title contains 'Angewandte Festival 2022' %}
      {% assign studies = studies | push: entry %}
    {% endif %}
  {% endfor %}
  These are representative of on-going studies (cf. {% assign cnt = 0 %}{% for study in studies %}{% assign cnt = cnt | plus :1 %}{% if cnt == studies.size %} and {% endif %}<a href="/{{ study.page }}/#{{ study.anchor }}">{{ study.title }}</a>{% if studies.size > 2 %}{% if cnt < studies.size %}, {% endif %}{% endif %}{% endfor %}).
  <table style="width:50%;margin-left:auto;margin-right:auto;">
    <tr>
      <td style="width:25%"><a href="/art/exhibitions/2024/Intraspatial-Studies/resized/shelf.jpg"><img src="/art/exhibitions/2024/Intraspatial-Studies/thumbs/shelf.jpg" style="width:100%;"></a></td>
    </tr>
  </table>
  <table style="width:100%;margin-left:auto;margin-right:auto;">
    <tr>
      <td style="width:25%"><a href="/art/exhibitions/2024/Intraspatial-Studies/resized/study1_front.jpg"><img src="/art/exhibitions/2024/Intraspatial-Studies/thumbs/study1_front.jpg" style="width:100%;"></a></td>
      <td style="width:25%"><a href="/art/exhibitions/2024/Intraspatial-Studies/resized/study2_front.jpg"><img src="/art/exhibitions/2024/Intraspatial-Studies/thumbs/study2_front.jpg" style="width:100%;"></a></td>
    </tr>
  </table>
  <table style="width:100%;margin-left:auto;margin-right:auto;">
    <tr>
      <td style="width:25%"><a href="/art/exhibitions/2024/Intraspatial-Studies/resized/study1_side.jpg"><img src="/art/exhibitions/2024/Intraspatial-Studies/thumbs/study1_side.jpg" style="width:100%;"></a></td>
      <td style="width:25%"><a href="/art/exhibitions/2024/Intraspatial-Studies/resized/study2_side.jpg"><img src="/art/exhibitions/2024/Intraspatial-Studies/thumbs/study2_side.jpg" style="width:100%;"></a></td>
    </tr>
  </table>
  <table style="width:25%;margin-left:auto;margin-right:auto;">
    <tr>
      <td style="width:25%"><a href="/art/exhibitions/2024/Intraspatial-Studies/video.gif"><img src="/art/exhibitions/2024/Intraspatial-Studies/thumbs/video.gif" style="width:100%;"></a></td>
    </tr>
  </table>
</p>
