<header class="header-cont">

  <div class="site-header">
    <div class="wrapper">
      <!--<a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>-->
      <a class="" href="{{ site.baseurl }}/"><img src="/files/mrj_.png" class="site-title" style="opacity:{% if page.title == nil %}0.75{% else %}0.40{% endif %};height:50px;position:relative;left:-5px;top:2px;"></a>

      <nav class="site-nav">
        <div>
          {% assign sorted_pages = site.pages | sort:"sortname" %}
          {% for itm in sorted_pages %}
            {% if itm.title and itm.title != page.title %}
              <a class="page-link" href="{{ itm.url | prepend: site.baseurl }}">{{ itm.title }}</a>
            {% elsif itm.title and itm.title == page.title %}
              <a class="current-page-link" href="{{ itm.url | prepend: site.baseurl }}">{{ itm.title }}</a>
            {% endif %}
          {% endfor %}
        </div>
      </nav>
    </div>
  </div>

</header>
