/**
 * Reset some basic elements
 */
body, h1, h2, h3 {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}

b {
    font-weight: 700;
}



/**
 * Set `margin-bottom to maintain vertical rhythm
 */
h1, h2, h3 {
    margin-bottom: $spacing-unit * 2;
}
p {
    margin-bottom: $spacing-unit;
}



/**
 * Headings
 */
h1 {
    font-size: $large-font-size;
}
h2 {
    font-size: $medium-font-size;
}

h3 {
    font-size: $base-font-size;
    font-weight: 700;
    margin-bottom: $spacing-unit;
}



/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;
}



/**
 * Clearfix: needed for wrapper
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Hiding text
 * https://berther.io/2009/01/15/hiding-an-email-address-from-spam-harvesters
**/

span.rev {
    unicode-bidi: bidi-override;
    direction: rtl;
}

// To position the line go-to
a.anchor {
  display: block;
  position: relative;
  top: - $spacing-unit * 5;
  visibility: hidden;
}
